@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Font Family */
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clash-display/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/clash-display/ClashDisplay-Variable.woff") format("woff");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
/* Light Theme */
:root {
  --color-bg: #e2e2e2;
  --color-fg: #1e1e1e;
  --color-muted: #1e1e1eb3;
  --color-primary: #67422f;
  --color-secondary: #a27b5a;
}
:root.dark {
  --color-bg: #1e1e1e;
  --color-fg: #fff;
  --color-muted: #efe1d1;
  --color-primary: #a27b5a;
  --color-secondary: #67422f;
}
@theme inline {
  --color-bg: var(--color-bg);
  --color-fg: var(--color-fg);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-muted: var(--color-muted);
  --font-clash: "ClashDisplay", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
  --font-inter: var(--inter);
}
body {
  @apply bg-bg text-fg font-clash;
}
@utility scroll-snap-align {
  scroll-snap-align: center;
}
@utility coffee-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-primary  to-fg;
}

@layer components {
  /* Text Styles */
  .tag,
  .link {
    @apply text-2xl font-clash text-primary no-underline;
  }

  .link-text {
    @apply text-sm tracking-wider font-clash lowercase text-fg;
  }
  .tech-stack-item {
    @apply whitespace-nowrap text-xl font-clash text-muted pl-5 tracking-wider;
  }
  .tech-stack-item::before {
    content: "•";
    @apply text-fg mr-5;
  }
  .rotator li {
    @apply scroll-snap-align pl-4 text-4xl font-bold tracking-wide whitespace-nowrap leading-relaxed text-primary;
    span {
      @apply inline-block;
    }
  }
  .nav-scroll {
    @apply bg-bg/50 backdrop-blur-xl;
  }

  .arrow {
    position: absolute;
    top: 72.5vh;
    left: 50%;
    z-index: 2;
    animation: float 1s ease-in-out infinite alternate both;

    svg {
      transform: rotate(90deg);
      stroke: var(--color-primary);
      width: 2rem;
      margin-left: -1rem;
      height: auto;
    }
  }
  .text-overlayed {
    @apply mix-blend-screen dark:mix-blend-soft-light;
  }
  .error-message {
    @apply text-sm text-red-200 font-medium w-full tracking-wide pt-1;
  }
  label::after {
    content: "*";
    @apply text-red-400 ml-1;
  }
  .error-message::before {
    content: "⚠";
    @apply mr-1;
  }
}
